<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent<%- component%>">
      <div class="bg-dark p-4">
          <nav id="nav-menu-container">
              <ul class="nav-menu">
                  <% var x=0; %>
                  <% pageList.forEach((link)=>{%>
                  
                <li class="nav-item active">
                    <% if(wdate!=undefined) { %>
                      <a class="nav-link" style="text-transform: uppercase;" href="/<%= link %>"><span class="sr-only">(current)</span><%- link %></a>
                      <%}else{%>
                        <% var link1=link+"client" %>
                        <a class="nav-link" style="text-transform: uppercase;"  href="/<%= link1 %>"><span class="sr-only">(current)</span><%- link %></a>
                        <%}%>
                </li>
                <% x++; %>
                <%});%>
              </ul>
              <% if(wdate===undefined) { %>
                <form method="POST" class="form-inline my-2 my-lg-0">
                  <p style="padding:15px;" align="right">  
                   <% var dt=new Date();%> 
                   <% var cdt=dt.getFullYear()+'-'+(dt.getMonth()+1)+'-'+dt.getDate();%>    
                 <span style="color:white;">Date:</span>                  
                     <input id="tstart" name="ndate" value="<%-clientdate%>"  min="2018-01-01" max="<%-cdt%>" type="date"> 
                     <button class="btn btn-outline-success my-2 my-sm-0" style="margin-top:-5px;" type="submit">Go</button>      
                    </p>
                
                  </form> 
                  <%}%>
            </nav>
      
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent<%- component%>" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>